:root {
  --r: 30px; /* radius */
  --s: 50px; /* size of the inner curve*/
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%) no-repeat;
  --theme-color1: #B8FF7A;
  --theme-color2: #6D46E2;
  --theme-color3: #8D56FA;
  --theme-color4: #4D84FF;
  --theme-color1-rgb: 184, 255, 122;
  --theme-color2-rgb: 109, 70, 226;
  --theme-color3-rgb: 141, 86, 250;
  --theme-color4-rgb: 77, 132, 255;
  --text-color-theme-color1: #131420;
  --body-bg: #0B0B15;
  --gradient-1: linear-gradient(180deg, #1DC8CF 0%, #4A37C4 100%);
}