@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}
:root {
  --r: 30px; /* radius */
  --s: 50px; /* size of the inner curve*/
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%) no-repeat;
  --theme-color1: #F0DF21;
  --theme-color2: #040B1D;
  --theme-color3: #8D56FA;
  --theme-color4: #4D84FF;
  --theme-color1-rgb: 240, 223, 33;
  --theme-color2-rgb: 4, 11, 29;
  --theme-color3-rgb: 141, 86, 250;
  --theme-color4-rgb: 77, 132, 255;
  --text-color-theme-color1: #0B0B15;
  --gradient-1: radial-gradient(88.98% 147.73% at 4.75% -21.98%, #0D0D0D 74.87%, #10240A 100%);
  --gradient-2: linear-gradient(180deg, #E55218 28.61%, #FF8A5C 100%);
  --body-bg: #000002;
  --h3-font-size: 30px;
  --container-width: 1350px;
}