/*** 

====================================================================
  Banner Section One
====================================================================

***/
.banner-section-one {
  padding: 135px 0 0;
  position: relative;
  .shape-1 {
    position: absolute;
    width: 1339px;
    height: 245px;
    background-image: url(../images/icons/shape-9.png);
    top: -175px;
    left: 0px;
    pointer-events: none;
    @include media-breakpoint-down(xxl){
      left: -160px;
    }
    @media (max-width: 1023.98px) {
      display: none;
    }
  }
  .shape-2 {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    @media (max-width: 1023.98px) {
      display: none;
    }
  }
  .outer-box {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 5px;
    background: linear-gradient(180deg, rgba(5, 15, 19, 0) 27.79%, #02DF82 100%);
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-down(md){
      padding-bottom: 100px;
    }
  }

  .content-box {
    .inner-box {
      max-width: 872px;
      margin: 0 auto;
      text-align: center; 
      position: relative;
    }
    .sub-title {
      background: linear-gradient(181.35deg, #142F2A 1.15%, #091D1E 98.91%);
      border-radius: 42px;
      color: var(--theme-color1);
      display: inline-block;
      font-size: 20px;
      font-weight: 600;
      position: relative;
      padding: 12px 20px;
      margin-bottom: 20px;
      @include media-breakpoint-down(md){
        font-size: 16px;
        padding: 9px 15px;
      }
      &:before {
        background: linear-gradient(90deg, #02DF82 0%, rgba(255, 255, 255, 0.15) 43.96%);
        border-radius: 33px;
        position: absolute;
        content: "";
        width: 101%;
        height: 104%;
        top: -1px;
        left: -2px;
        z-index: -1;
      }
    }
    .title {
      font-size: 80px;
      font-weight: 600;
      line-height: 80px;
      letter-spacing: -3px;
      margin-bottom: 20px;
      text-transform: capitalize;
      @include media-breakpoint-down(lg){
        font-size: 70px;
      }
      @include media-breakpoint-down(md){
        font-size: 50px;
        line-height: 50px;
      }
      span {
        color: var(--theme-color1);
      }
    }
    .text {
      font-size: 20px;
      font-weight: 600;
      color: rgba(var(--theme-color-white-rgb), .6);
      max-width: 666px;
      margin: 0 auto;
    }
    .button-box {
      margin-top: 43px;
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .image-box {
    max-width: 1530px;
    height: 646px;
    margin: 0 auto;
    margin-top: 110px;
    position: relative;
    @media (max-width: 1199.98px) {
      height: auto;
    }
    @include media-breakpoint-down(md){
      display: none;
    }
    .image {
      position: relative;
      top: 5px;
      right: -47px;
      @media (max-width: 1599.98px) {
        right: auto;
        width: 100%;
        height: 100%;
      }
      @media (max-width: 1199.98px) {
        width: 100%;
        height: auto;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .shape-btn {
    position: absolute;
    display: inline-block;
    left: -21.5%;
    bottom: 29%;
    @include media-breakpoint-down(xxl){
      left: -15%;
    }
    @include media-breakpoint-down(xl){
      left: -50px;
      bottom: 18%;
    }
    @media (max-width: 1023.98px) {
      display: none;
    }
    .shape-btn-img {
      position: absolute;
      top: -13px;
      right: -11px;
    }
  }
  .shape-btn2 {
    position: absolute;
    display: inline-block;
    right: -21.5%;
    bottom: 12%;
    @include media-breakpoint-down(xxl){
      right: -15%;
    }
    @include media-breakpoint-down(xl){
      right: -55px;
    }
    @media (max-width: 1023.98px) {
      display: none;
    }
    .shape-btn-img {
      position: absolute;
      top: -13px;
      left: -11px;
    }
  }
}

/*** 

====================================================================
  Banner Section Two
====================================================================

***/
.banner-section-two {
  padding: 191px 0 0;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 40px 40px;
  @include media-breakpoint-down(md){
    padding: 160px 0 80px;
  }
  .bg-image {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content-box {
    .inner-box {
      max-width: 872px;
      margin: 0 auto;
      text-align: center; 
      position: relative;
    }
    .title {
      font-size: 80px;
      font-weight: 600;
      line-height: 80px;
      letter-spacing: -3px;
      margin-bottom: 20px;
      text-transform: capitalize;
      @include media-breakpoint-down(lg){
        font-size: 70px;
      }
      @include media-breakpoint-down(md){
        font-size: 50px;
        line-height: 50px;
      }
      span {
        color: var(--theme-color1);
      }
    }
    .text {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      color: rgba(var(--theme-color-white-rgb), .6);
      max-width: 666px;
      margin: 0 auto;
    }
    .button-box {
      margin-top: 43px;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .banner-play-btn {
      font-size: 16px;
      font-weight: 700;
      color: var(--theme-color-white);
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
        background-color: transparent;
        border: 1.5px solid rgba(var(--theme-color1-rgb), .5);
        box-shadow: none;
        color: var(--theme-color-white);
        font-size: 16px;
        padding: 0;
        width: 56px;
        height: 56px;
        line-height: 56px;
      }
    }
  }
  .image-box {
    max-width: 1011px;
    height: 643px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
    @include media-breakpoint-down(md){
      display: none;
    }
    .image {
      position: relative;
      top: 0;
      right: 0;
      @media (max-width: 1599.98px) {
        right: auto;
        width: 100%;
        height: 100%;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/*** 

====================================================================
  Banner Section Three
====================================================================

***/
.banner-section-three {
  padding-top: 200px;
  position: relative;
  z-index: 1;

  .feature-outer {
    @include media-breakpoint-down(xl){
      margin-top: 80px;
    }
  }
  .hero-content {
    max-width: 875px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    .hero-title {
      text-align: center;
      letter-spacing: -1.6px;
      text-transform: capitalize;
      margin-bottom: 0;
      @include media-breakpoint-down (lg){
        font-size: 58px;
      }


       @include media-breakpoint-down (md){
        font-size: 45px;
      }

      @include media-breakpoint-down (sm){
        font-size: 38px;
      }

      span {
        background: var(--gradient-3);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;

        &::before {
          position: absolute;
          bottom: 18px;
          left: 0;
          right: 0;
          content: "";
          width: 100%;
          height: 2px;
          background: var(--theme-color1);
          z-index: -1;

          @include media-breakpoint-down (xl){
            display: none;
          }
        }
      }
    }

    p {
      color: rgba(var(--theme-color-white-rgb), .8);
      max-width: 535px;
      margin: 0 auto;
    }

    .button-box {
      margin-top: 72px;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
      @include media-breakpoint-down(sm){
        margin-top: 30px;
      }
    }

    .banner-play-btn {
      font-size: 16px;
      font-weight: 700;
      color: var(--theme-color-white);
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
         background: linear-gradient(181deg, #121846 1.15%, #020628 98.91%);
        border: 1.5px solid rgba(var(--theme-color1-rgb), .5);
        box-shadow: none;
        color: var(--theme-color-white);
        font-size: 16px;
        padding: 0;
        width: 56px;
        height: 56px;
        line-height: 56px;
      }
    }

  }
  .bg-line {
    position: absolute;
    bottom: 87px;
    max-width: 796px;
    left: 35px;    
    z-index: -1;
    @include media-breakpoint-down(lg){
      left: 0;
    }
      @include media-breakpoint-down(sm){
        display: none;
      }
    .animated-curve1 {
      position: relative;
      width: 100%;
      height: 8px;
      border-radius: 50px;
      overflow: hidden;
      top: -8px;
    }
    .animated-curve1 span {
      content: "";
      position: absolute;
      top: 3px;
      left: -100px;
      width: 384px;
      height: 2px;
      background: linear-gradient(270deg, #006AFF 0%, rgba(37, 46, 129, 0) 100%);
      animation: move-glow 2s linear infinite;
      filter: blur(3px);
    }

    @keyframes move-glow {
      0% {
        left: -100px;
      }
      100% {
        left: 100%;
      }
    }
    .image-line {
      width: 100%;
      pointer-events: none;
    }
    .image1 {
      position: absolute;
      left: -50px;
      top: -83px;
      pointer-events: none;
      @include media-breakpoint-down(md){
        width: 80px;
        left: -34px;
      }
    }
    .image2 {
      position: absolute;
      right: -73px;
      top: -57px;
      pointer-events: none;
      @include media-breakpoint-down(md){
        right: -36px;
        top: 8px;
        width: 80px;
      }
    }
  }

  .hero-ai-thumb {
    max-width: 1626px;
    margin: 0 auto;
    position: relative;
    position: 15px;
    pointer-events: none;
    @include media-breakpoint-down(md){
      display: none;
    }
    .banner-images1 {
      margin-top: 60px;
      text-align: center;
      pointer-events: none;
      @include media-breakpoint-down(xl){
        display: none;
      }
      img {
        @include media-breakpoint-down(xxl){
          width: 74%;
        }
      }
    }
    .banner-images2 {
      text-align: center;
      margin-top: -200px;
      position: relative;
      left: -11px;
      pointer-events: none;
    }
    .banner-images3 {
      position: absolute;
      left: 0;
      top: -220px;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    .banner-images4 {
      position: absolute;
      left: calc(50% - 259px);
      top: calc(50% - 389px);
      z-index: -1;
      pointer-events: none;
      @include media-breakpoint-down(xl){
        display: none;
      }
    }
  }
}



/*** 

====================================================================
  Banner Section Four
====================================================================

***/
.banner-section-four {
  padding: 50px 0 80px;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-down(md){
    padding: 80px 0 80px;
  }
  .bg-shape {
    top: 102px;
    text-align: center;
    z-index: -1;
    pointer-events: none;
  }
  .bg-image {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content-box {
    .inner-box {
      max-width: 872px;
      margin: 0 auto;
      text-align: center; 
      position: relative;
    }
    .title {
      font-size: 80px;
      font-weight: 600;
      line-height: 80px;
      letter-spacing: -3px;
      margin-bottom: 20px;
      text-transform: capitalize;
      @include media-breakpoint-down(lg){
        font-size: 70px;
      }
      @include media-breakpoint-down(md){
        font-size: 50px;
        line-height: 50px;
      }
      span {
        color: var(--theme-color1);
      }
    }
    .text {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: rgba(var(--theme-color-white-rgb), .8);
      max-width: 510px;
      margin: 0 auto;
    }
    .button-box {
      margin-top: 33px;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .banner-play-btn {
      font-size: 16px;
      font-weight: 700;
      color: var(--theme-color-white);
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
        background-color: transparent;
        border: 1.5px solid rgba(var(--theme-color1-rgb), .5);
        box-shadow: none;
        color: var(--theme-color-white);
        font-size: 16px;
        padding: 0;
        width: 56px;
        height: 56px;
        line-height: 56px;
      }
    }
  }
  .image-box {
    width: 100%;
    margin-top: -140px;
    position: relative;
    z-index: -1;
    @media (max-width: 1599.98px) {
      margin-top: 0
    }
    @include media-breakpoint-down(md){
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}


