/*** 

====================================================================
    Blog Section
====================================================================

***/

.blog-block {
  margin-bottom: 40px;
  .inner-box {
    position: relative;
    @include transition(all 300ms ease);
    &:hover {
      .image-box {
        .image {
          img {
            &:first-child{
              transform: translateX(0) scaleX(1);
              opacity: 1;
              filter: blur(0);
            }
            &:nth-child(2){
              transform: translateX(-50%) scaleX(2);
              opacity: 0;
              filter: blur(10px);
            }
          }
        }
      }
    }
  }
  .image-box {
    position: relative;
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      img {
        position:relative;
        width:100%;
        display:block;
        @include transition(all 500ms ease);
        &:first-child{
          position:absolute;
          left:0px;
          top:0px;
          right:0px;
          bottom:0px;
          z-index:1;
          transform: translateX(50%) scaleX(2);
          opacity: 0;
          filter: blur(10px);
        }
      }
    }
    .date{
      position: absolute;
      right: 0;
      top: 0;
      width: 72px;
      display: flex;
      justify-content: flex-end;
      z-index: 3;
      strong {
        position: relative;
        display: block;
        width: 60px;
        font-size: 22px;
        font-weight: 600;
        font-family: var(--text-font);
        padding: 8px 0 10px;
        line-height: 1;
        color: var(--theme-color-light);
        background-color: var(--theme-color1);
        text-align: center;
        span {
          display: block;
          font-size: 12px;
          margin-top: 5px;
          text-transform: uppercase;
        }
      }
    }
  }
  .content-box {
    padding: 30px 0 0;
    position: relative;
    z-index: 1;
    .title {
      margin-bottom: 22px;
      &:hover {
        color: var(--theme-color1);
      }
    }
    .text {
      margin-bottom: 10px;
    }
    .btn-link-style1 {
      color: var(--theme-color-white);
      line-height: 1;
      margin-bottom: 0;
      position: relative;
      @include transition(all 300ms ease);
      &:hover {
        color: var(--theme-color1);
        .btn-title {
          &:after {
            width: 100%;
          }
        }
        .icon {
          color: var(--theme-color1);
          transform: rotate(-45deg);
        }
      }
      .btn-title {
        position: relative;
        &:after {
          background-color: var(--theme-color1);
          content: "";
          position: absolute;
          left: 0;
          bottom: -1px;
          height: 1px;
          width: 0;
          @include transition(all 300ms ease);
        }
      }
      .icon {
        font-size: 14px;
        position: relative;
        top: 0;
        margin-left: 7px;
        @include transition(all 300ms ease);
      }
    }
  }
}