/***

====================================================================
    Clients Section
====================================================================

***/

.clients-section {
    padding: 120px 0;
    position: relative;
    @include media-breakpoint-down(lg){
        padding: 80px 0;
    }
    .client-title {
        color: var(--theme-color1);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 50px;
        img {
            position: relative;
            top: -4px;
        }
    }
    .outer-box {
        position: relative;
        &:before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            height: 60px;
            background: var(--gradient-19);
            width: 207px;
            z-index: 2;
            pointer-events: none;
            @include media-breakpoint-down(lg){
                display: none;
            }
        }
        &:after {
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            height: 60px;
            background: var(--gradient-20);
            width: 207px;
            z-index: 2;
            pointer-events: none;
            @include media-breakpoint-down(lg){
                display: none;
            }
        }
    }
    .swiper-horizontal {
        padding: 0;
    }
}
.client-block {
    .inner-box {
        &:hover {
            .image-box {
                .image {
                    img{
                        &:nth-child(1) {
                            transform: translatex(0) scalex(1);
                            opacity: 1;
                            filter: blur(0);
                        }
                        &:nth-child(2) {
                            transform: translatex(-50%) scalex(2);
                            opacity: 0;
                            filter: blur(10px);
                        }
                    }
                }
            }
        }
        .image-box {
            .image {
                margin-bottom: 0;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    background-size: cover;
                    transition: 0.5s;
                    max-width: 210px;
                    &:nth-child(1){
                        transform: translatex(50%) scalex(2);
                        opacity: 0;
                        filter: blur(10px);
                    }
                    &:nth-child(2){
                        position: absolute;
                        top: 0;
                        left: 50%;
                        object-fit: cover;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}


/***

====================================================================
    Clients Section Layout 3
====================================================================

***/
.clients-section-layout3 {
  padding: 120px 0;
  position: relative;
  @include media-breakpoint-down(lg){
    padding: 80px 0;
  }
  .swiper-horizontal {
    padding: 0;
  }
  .swiper-container {
    margin: 0 50px;
    @include media-breakpoint-down(lg){
      margin: 0;
    }
  }
  .brand-icon {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 37px 40px;
    border-right: 1px solid var(--theme-color3);
    @include media-breakpoint-down(xl){
      padding: 30px 20px;
    }
    @include media-breakpoint-down(lg){
      padding: 0;
      justify-content: center;
      margin-bottom: 30px;
      border: none;
    }
    @include media-breakpoint-down(sm){
      text-align: center;
      flex-direction: column;
    }
    .icon-bounce {
      min-width: 54px;
      min-height: 54px;
      line-height: 54px;
      text-align: center;
      border-radius: 50%;
      background: var(--gradient-6);
    }
    .title {
      margin-bottom: 0;
    }
  }
  .client-wrapper-layout3 {
    position: relative;
    background: var(--gradient-12);
    border-radius: 30px;
    border: 1.5px solid var(--theme-color3);
    @include media-breakpoint-down(lg){
      padding: 30px 20px 40px;
    }
  }
  
  .bg-line {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    @include media-breakpoint-down(lg){
      top: 86px;
    }
    .animated-curve1 {
      position: relative;
      width: 100%;
      height: 14px;
      border-radius: 50px;
      overflow: hidden;
      top: -17px;
    }
    .animated-curve1 span {
      content: "";
      position: absolute;
      top: 3px;
      left: -100px;
      width: 105px;
      height: 7px;
      background: linear-gradient(270deg, #006AFF 0%, rgba(37, 46, 129, 0) 100%);
      animation: move-glow 2s linear infinite;
      filter: blur(3px);
    }

    @keyframes move-glow {
      0% {
        left: -100px;
      }
      100% {
        left: 100%;
      }
    }
  }
}

.client-block-layout3 {
  .inner-box {
    &:hover {
        .image-box {
            .image {
                img{
                    &:nth-child(1) {
                        transform: translatex(0) scalex(1);
                        opacity: 1;
                        filter: blur(0);
                    }
                    &:nth-child(2) {
                        transform: translatex(-50%) scalex(2);
                        opacity: 0;
                        filter: blur(10px);
                    }
                }
            }
        }
    }
    .image-box {
          .image {
              margin-bottom: 0;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                  background-size: cover;
                  transition: 0.5s;
                  max-width: 210px;
                  &:nth-child(1){
                      transform: translatex(50%) scalex(2);
                      opacity: 0;
                      filter: blur(10px);
                  }
                  &:nth-child(2){
                      position: absolute;
                      top: 0;
                      left: 50%;
                      object-fit: cover;
                      transform: translateX(-50%);
                  }
              }
          }
      }
  }
}