/*** 

====================================================================
    Contact Section
====================================================================

***/
.contact-section-layout3 {
  padding: 120px 0;
  position: relative;
  @include media-breakpoint-down(lg){
    padding: 80px 0;
  }
  .anim-icons {
    .image-1 {
      top: 114px;
      left: 114px;
      position: absolute;
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    .image-2 {
      top: 125px;
      right: 150px;
      position: absolute;
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    .image-3 {
      bottom: 175px;
      right: 128px;
      position: absolute;
      z-index: 1;
      @include media-breakpoint-down(xxl){
        display: none;
      }
    }
  }
  .bg-image {
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .sec-title {
    .sub-title2 {
      .icon-img {
        margin-bottom: 10px;
      }
    }
    .text {
      margin-top: 10px;
    }
  }
  .gradient-title {
    top: 50px;
    font-size: 302px;
    font-weight: 600;
    position: absolute;
    display: inline-block;
    mask-image: linear-gradient(180deg, rgb(2 6 40 / 0%) 0%, rgb(44 106 236 / 15%) 100%);
    mask-repeat: no-repeat;
    -webkit-text-fill-color: var(--theme-color1);
    text-transform: uppercase;
    line-height: 1;
    left: calc(50% - 465px);
    @include media-breakpoint-down(lg){
      font-size: 202px;
      left: calc(50% - 310px);
    }
  }
  .outer-box {
    background: linear-gradient(181.35deg, #121846 1.15%, #020628 98.91%);
    padding: 120px 0;
    max-width: 1620px;
    margin: 0 auto;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    border: 1.5px solid #121744;
    @include media-breakpoint-down(lg){
      padding: 80px 0;
    }
  }
  .contact-outer {
    max-width: 1096px;
    margin: 0 auto;
    position: relative;
  }
  form {
    padding: 0 15px;
  }
  .form-group {
    position: relative;
    textarea {
      background-color: var(--body-bg);
      border-radius: 30px;
      border: 1px solid #2c6aec40;
      color: var(--theme-color-white);
      height: 251px;
      padding: 44px 50px;
      width: 100%;
      &::placeholder{
        color: var(--theme-color-white);
      }
    }
    .submit-btn {
      background-color: transparent;
      bottom: 56px;
      position: absolute;
      right: 58px;
      @include media-breakpoint-down(sm){
        bottom: 20px;
        right: 20px;
      }
    }
    .icon-box {
      align-items: center;
      bottom: 47px;
      display: flex;
      left: 46px;
      gap: 29px;
      position: absolute;
      @include media-breakpoint-down(sm){
        left: 20px;
        bottom: 20px;
      }
      .icon {
        color: var(--theme-color-white);
        font-size: 26px;
        cursor: pointer;
      }
    }
  }
  .category-box {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 34px;
    .category {
      background: linear-gradient(181.35deg, #121846 1.15%, #020628 98.91%);
      border: 1px solid var(--theme-color3);
      border-radius: 50px;
      display: inline-block;
      padding: 7px 16px;
      a {
        color: var(--theme-color-white);
      }
    }
  }
}
